.all_contacts, .chat_area{
    float:left;
    padding-top: 50px;
    font-family: Calibri, "Segoe UI", sans-serif;
}

.all_contacts{
    height: 100%;
    width: 300px;
    padding-top: 40px;
    background-color: #fbfbfb;
    position:fixed;
    border-right: 1px solid #c1c1c1;
    z-index: 49;
    margin-bottom: 300px;
    overflow: hidden;
}

.contacts_list{
    position: static;
    overflow: auto;
    height: 94%;
    width: 100%;
}

.contact ul{
    width: 93%;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    cursor: pointer;
    padding-left: 7%;
    display: table;
}

.contact ul:hover{
    background-color: #eaeaea;
}

.contact li{
    text-decoration: none;
    list-style-type: none;
    width: 100%;
    text-align: center;
    display: inline;
}

.user_image{
    width: 33px;
    height: 33px;
    background-color: #c1c1c1;
    border-radius: 50%;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
}

.contact_name{
    display: table-cell;
    color: #626262;
    text-decoration: none;
    position: relative;
    top: 2.9px;
    padding-left: 5px;
}

.notification_alert{
    width: 15px;
    height 15px;
    background-color: #ff0000;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 9px;
    font-weight: normal;
    display: inline-block;
    padding: 3px 1px;
    position: relative;
    right: 10px;
    bottom: 10px;
}

.guest_message{
    border-bottom: 1px solid #eaeaea;
    padding: 10px 20px;
    position: static;
}

.home_message{
    text-align: right;
    border-bottom: 1px solid #eaeaea;
    padding: 10px 20px;
    position: static;
}

.creating_message_box{
    padding: 10px; 20px;
    background-color: #eaeaea;
    width: 100%;
    position: fixed;
    bottom: 0px;
    padding-top: 15px;
}

.message_box_area{
    padding: 10px;
    border-radius: 50px;
    border: 1.5px solid #5d5d5d;
    overflow: auto;
    width: 47%;
    margin-left: 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 40px;
    white-space: pre-wrap;
    text-overflow: ellipsis;
}

.chat_area{
    padding-top: 42px;
    width: 77.7%;
    position: relative;
    left: 300px;
    overflow: hidden;
}
.current_chat_title{
    width: 100%;
    height: 30px;
    padding-left: 10px;
    background-color: #eaeaea;
    padding-top: 8px;
    position: fixed;
    z-index: 48;
}

.current_chat_name{
    color: #828282;
}

.current_chat_messages_view{
    margin-top: 38px;
    margin-bottom: 35px;
    position: relative;
    left 0;
    padding-bottom: 25px;
    width: 100%;
}

.upload_file_button{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.send_button{
    padding: 9px 25px;
    font-family: inherit;
    cursor: pointer;
    font-weight: bold;
    background-color: #40cc06;
    border-radius: 50px;
    width: 130px;
    border: none;
    color: white;
    font-size: 15px;
}

.upload_file_button + label{
    cursor: pointer;
}

.message_date{
    font-style: italic;
    font-size: 14px;
    color:#C1C1C1;
}

.message_box_area,.send_file_button, .send_button{
    float: left;
}

.send_file_button{
    padding: 9px 10px;
    font-family: inherit;
    cursor: pointer;
    background-color: dodgerblue;
    border-radius: 50px;
    width: 110px;
    border: none;
    color: white;
    font-size: 15px;
    text-align:center;
    margin: 0px 10px;
    margin-left: 15px;
}

.send_file_button strong{
    cursor: pointer;
}

.send_file_button:hover, .send_file_button strong:hover{
    background-color: steelblue;
}

.send_button:hover{
    background-color: limegreen;
}

.current_contact_name{
    padding-left: 455px;
    color: #626262;
}

*:focus {
    outline: none;
}
